body{
    /* background: black; */
}

/* Oculta la barra de desplazamiento en móviles */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Muestra la barra de desplazamiento en md (768px) y superiores */
@media (min-width: 768px) {
    .md\:scrollbar-visible::-webkit-scrollbar {
        display: block;
    }
    .md\:scrollbar-visible {
        -ms-overflow-style: auto;  /* IE y Edge */
        scrollbar-width: auto;  /* Firefox */
    }
}

.md\:scrollbar-visible::-webkit-scrollbar {
    display: block;
    height: 8px; /* Grosor de la barra */
}
.md\:scrollbar-visible::-webkit-scrollbar-thumb {
    background: #4F46E5; /* Color de la barra */
    border-radius: 4px;
}